@charset "utf-8";
$global-font-family: Arial, "Microsoft YaHei", "simsun"; //全局字体
$global-color: #666 #666 #666 #ff5400 #ff5400; //1body颜色 2链接颜色 3visited 4hover 5active
$global-input-form: 36px 18px; //1集合的高度height 2底边距margin-bottom
//global-input 表单input几个必修改项
$global-input: #fff #e8e8e8 #d5d5d5 14px 274px 120px #c11920; //1背影颜色 2边框颜色
//进度条
$global-progress: #e5e5e5 #5093e1 8px; //1背影底色 2进度颜色 3高度
$global-maincolor: #5093e1;
//有时需要用到透明层，兼容ie7
@mixin opacity($opacity:30) {
  opacity: $opacity/100;
  filter: alpha(opacity=$opacity);
}

//经常同时使用到的高及行高，使用如@include height(30px)
@mixin height($h:30px) {
  height: $h;
  line-height: $h;
}

//浮动清除
@mixin clear() {
  display: block;
  content: '.';
  clear: both;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

html, body, div, span, table, tbody, tr, th, td, em, img, strong, h1, h2, h3, h4, h5, h6, p, a, dl, dd, dt, ol, ul, li, form, label, input, textarea, button, b, i, u {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

h1, h2, h3, h4, h5, h6, b {
  font-weight: 400;
}

a, img {
  text-decoration: none;
  border: 0;
}
html,body{
  width:100%;
  height:100%;
}
body {
  font-family: $global-font-family;
  color: nth($global-color, 1);
  background: #f6f7f7;
  font-size: 14px;
}

a {
  color: nth($global-color, 2);
  font-size: 14px;
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
    color: nth($global-color, 3);
  }
  &:hover {
    text-decoration: none;
    color: nth($global-color, 4);
  }
  &:active {
    text-decoration: none;
    color: nth($global-color, 5);
  }
}

.container{
  height:100%;
}
//头部
.main-nav-top {
  height: 40px;
  line-height: 40px;
  overflow: visible;
  background: #fff;
  border-bottom:1px solid #e6e6e6;
  position: relative;
  z-index: 1;
  .right-btn {
    position: absolute;
    right: 10px;
    top: 0px;
    a {
      margin-left: 10px;
      i {
        font-size: 18px;
        vertical-align: middle;
        margin-right: 3px;
      }
    }
  }
  .welcome {
    float: left
  }
  .top-dropdown {
    float: right
  }
  .el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
  }
}

.content {
  padding: 10px;
  background: #fff;
  border:1px solid #e9e8e8;
}
.tool-buttons{
  margin-bottom:18px;
  text-align: right;
}

.pages{
  padding: 20px 0 0 0 ;
  text-align:right;
}

.el-form--inline{
  .el-input,.el-date-editor.el-input{
    width:150px;
  }
}

.ui-table{
  .el-table__header th{
    background-color: #ecf5ff;
    border-right:1px solid #FFF;
    padding:8px 0;
  }
  .el-table__body td{
    padding:8px 0;
  }
}

.side-bar{
  height:100%;
  background: #fff;
  border-right:1px solid #e6e6e6;
  box-shadow: 2px 0 4px #eee;
  overflow: hidden;
  transition: width .4s ease;
  position: relative;
  z-index:2;
  .logo{
    padding:10px 0 0;
    text-align: center;
    .title{
      margin:10px;
      padding-top:10px;
      border-top:1px solid #eee;
      font-weight:600;
    }
  }
  .aside{
    overflow: hidden;
  }
  .el-menu{
    border:0;
  }
}
